<!DOCTYPE html>
<html>
<head>
 	<meta charset="UTF-8">
	<meta name="author" content="Michael Wang">
	<link rel="stylesheet" type="/text/css" href="/static/css/css_test.css"> 
	<title>Pokémon</title>
</head>

<body>
	<div id="header"></div>
	<div>
		<img src="/static/pictures/logo.png" id="logo">
		<p id="blurb"> A site used to practice my skills in website design. It is filled with information about the main 
			Pokémon	games and the teams I used in them.</p>
	</div>

	<div id="list">
		<ol><span style="font-size:14px";>
			<li>Gen I
				<ul>
					<li>Red and Green</li>
					<li>Blue</li>
					<li>Yellow</li>
				</ul>
			</li>

			<li>Gen II
				<ul>
					<li>Gold and Silver</li>
					<li>Silver</li>
				</ul>
			</li>
			
			<li>Gen III
				<ul>
					<li>Ruby and Sapphire</li>
					<li>Emerald</li>
					<li>FireRed and LeafGreen</li>
				</ul>
			</li>

			<li>Gen IV
				<ul>
					<li>Diamond and Pearl</li> 
					<li>Platinum</li>
					<li>HeartGold and SoulSilver</li>
				</ul>
			</li>
			<li>Gen V
				<ul>
					<li>Black and White</li>
					<li>Black 2 and White 2</li>
				</ul>
			</li>
			<li>Gen VI
				<ul>
					<li>X and Y</li>
				</ul> 
			</li>
		</ol>
	</div>

	<div class="main">
		{% block content %}{% endblock %}
	</div>	
</body>

</html>
