{% extends "base.html" %}
{% block content %}

<body>
	<h1 class="Gen">First Generation Games</h1>
		<div class="info">
			<h2>Red and Blue</h2>
			<p>The very first Pokémon games ever made were developed by Gamefreak and published by Nintendo.
				Red and Blue were released in Japan in 1996 as Red and Green. Located in the fictional 
				region Kanto, players took on the role of a 10 year-old trainer who is given a task to capture Pokémon
				and complete the Pokédex. Players will also encounter the villainous Team Rocket who are using the 
				powers of Pokémon for their criminal actions. Along the journey, players have the opportunity to build up a team of 6 of 
				their favorite Pokémon, defeat Gym Leaders, challenge the Elite Four, and ultimately become the Champion of the Kanto Region.
			</p>
			<figure style="margin-left: 225px;">
				<img src="/static/pictures/red.jpg" alt="Pokémon Red Version">
				<img src="/static/pictures/blue.jpg" style="padding-left: 10px;" alt="Pokémon Blue Version"><br>
				<figcaption style="clear: both; padding-left:125px;">Box art for Pokémon Red and Blue</figcaption>
			</figure> 
		</div>
		<div class="info">
			<a name="Y"><h2 class="name">Yellow</h2></a>
			<p>The third Pokémon game releashed had a unique twist compared to it's predecessors. Inspired by the Pokémon anime, the player
				would start off with a Pikachu instead of the usual choice between Bulbasaur, Charmander, and Squirtle. However,
				it is possible for the player to receive all three of them later in the game. In addition, instead of generic Team Rockect grunts
				, the player fights Jessie and James. Another cool feature is Pikachu follows the trainer around and can be interacted with. This 
				feature would not been seen again until HeartGold and SoulSilver. Other than the changes mentioned above, the plot is very similar to 
				Red and Blue.</p>
			<figure style="float: left;margin-left: 215px;">
				<img src="/static/pictures/yellow.jpg" alt="Pokémon Yellow Version">
				<figcaption>Box art for Pokemon Yellow</figcaption>
			</figure>
			<figure style="float:right; margin-right: 155px;">
				<img src="/static/pictures/interact.jpg">
				<figcaption>Example of interacting with Pikachu</figcaption>
			</figure>
		</div>
</body>

{% endblock %}
