{% extends "base.html" %}
{% block content %}

<body>
	<h1>Pokedex</h1>
	<form name="Gen", action="{{ url_for('pokedex.select_gen') }}", method="POST">
		<select name="Gen">
			<option value="1">Generation I</option>
			<option value="2">Generation II</option>
			<option value="3">Generation III</option>
			<option value="4">Generation IV</option>
			<option value="5">Generation V</option>
			<option value="6">Generation VI</option>
			<option value="7">Generation VII</option>
		</select>
		<button type="sumbit">Select Generation</button>
	</form>
	
	<form name="ID", action="{{ url_for('pokedex.select_mon') }}", method="POST">
		<input name="PokeID" type="text">
		<button type="submit">Enter Pokemon ID number</button>
	</form>

    {% if name %}
        <p>{{name}} is a {{pokemonType}} Pokemon.</p>
    {% endif %}
</body>

{% endblock %}
