<!DOCTYPE html>
<html>
<head>
	<title>Pok&eacute;mon</title>
	<meta name="author" content="Michael Wang">
	<link rel="stylesheet" type="/text/css" href="team.css">
</head>
<body>
	<div id="wrapper">
		<div id="header"></div>
			<div>
				<img src="logo.png" id="logo">
				<p id="blurb"> A site used to practice my skills in HTML, CSS, and later on Javascript. It is filled with information about the main 
					Pok&eacute;mon games and the teams I used in them.</p>
			</div>
			<div id="list">
				<ol><span style="font-size:14px";>
					<li><a href="First.html">First Generation
						</a><ul>
							<a href="First.html#RB"><li>Red and Blue</li></a> 
							<a href="First.html#Y"><li>Yellow</li></a>
						</ul>
					</li>
					<li><a href="Second.html">Second Generation
						</a><ul>
							<a href="Second.html#GS"><li>Gold and Silver</li></a>
							<a href="Second.html#CYS"><li>Crystal</li></a>
						</ul>
					</li>
					<li>Third Generation
						<ul>
							<li>Ruby and Sapphire</li> 
							<li>Emerald</li>
							<li>FireRed and LeafGreen</li>
						</ul>				
					</li>
					<li>Fourth Generation
						<ul>
							<li>Diamond and Pearl</li> 
							<li>Platinum</li>
							<li>HeartGold and SoulSilver</li>
						</ul>
					</li>
					<li>Fifth Generation
						<ul>
							<li>Black and White</li>
							<li>Black 2 and White 2</li>
						</ul>
					</li>
					<li>Sixth Generation
						<ul>
							<li>X and Y</li>
						</ul> 
					</li>
					<li>My Teams</li>
				</span>
			</ol>		
		</div>
		<div class="main">
			<div class="info">
				<h2 class="Gen">My Teams</h2>
				<p>Ever since I recieved my first Pokémon game, Pokémon Gold, I have been a huge fan of the Pokémon franchise. I own six games from the
				main Pokémon series as well as spinoff games. Below, are the friends that I have trained and traveled with on my quest to become the
				very best.
				</p>
				<div class="team">
					<table border="1" style="background-color: #FDD017;">
						<th colspan="6">Pokémon Gold</th>
						<tr>
							<td>Typhlosion</td>
							<td>Nidoking</td>
							<td>Pidgeot</td>
							<td>Togetic</td>
							<td>Gengar</td>
							<td>Pikachu</td>
						</tr>
						<tr>
							<td><img src="tyGold.png"></td>
							<td><img src="NidoGold.png"></td>
							<td><img src="PidGold.png"></td>
							<td><img src="TogGold.png"></td>
							<td><img src="genGold.png"></td>
							<td><img src="PikaGold.png"></td>
						</tr>
					</table>

					<table border="1" style="background-color: #50C878;">
						<th colspan="6">Pokémon Emerald</th>
						<tr>
							<td>Sceptile</td>
							<td>Mightyena</td>
							<td>Swellow</td>
							<td>Azumarill</td>
							<td>Manectric</td>
							<td>Pikachu</td>
						</tr>
						<tr>
							<td><img src="specEm.png"></td>
							<td><img src="mightEm.png"></td>
							<td><img src="swEm.png"></td>
							<td><img src="azuEm.png"></td>
							<td><img src="manEm.png"></td>
							<td><img src="pikaEm.png"></td>
						</tr>
					</table>

					<table border="1" style="background-color: #E5E4E2;">
						<th colspan="6">Pokémon Platinum</th>
						<tr>
							<td>Infernape</td>
							<td>Luxray</td>
							<td>Rapidash</td>
							<td>Staraptor</td>
							<td>Gliscor</td>
							<td>Floatzel</td>
						</tr>
						<tr>
							<td><img src="inferPt.png"></td>
							<td><img src="luxPt.png"></td>
							<td><img src="rapPt.png"></td>
							<td><img src="starPt.png"></td>
							<td><img src="gliPt.png"></td>
							<td><img src="flPt.png"></td>
						</tr>
					</table>
					
					<table border="1" style="background-color: #FFDF00;">
						<th colspan="6">Pokémon HeartGold</th>
						<tr>
							<td>Typhlosion</td>
							<td>Nidoking</td>
							<td>Pidgeot</td>
							<td>Togetic</td>
							<td>Gengar</td>
							<td>Gyarados</td>
						</tr>
						<tr>
							<td><img src="tyHG.png"></td>
							<td><img src="nidoHG.png"></td>
							<td><img src="pidHG.png"></td>
							<td><img src="togHG.png"></td>
							<td><img src="genHG.png"></td>
							<td><img src="gyaHG.png"></td>
						</tr>
					</table>

					<table border="1">
						<th colspan="6">Pokémon White</th>
						<tr>
							<td>Samurott</td>
							<td>Unfezant</td>
							<td>Reuniclus</td>
							<td>Eelektross</td>
							<td>Krookodile</td>
							<td>Galvantula</td>
						</tr>
						<tr>
							<td><img src="smW.png"></td>
							<td><img src="unW.png"></td>
							<td><img src="reW.png"></td>
							<td><img src="eleW.png"></td>
							<td><img src="krW.png"></td>
							<td><img src="galW.png"></td>
						</tr>
					</table>

					<table border="1" >
						<th colspan="6">Pokémon White 2</th>
						<tr>
							<td>Serperior</td>
							<td>Lucario</td>
							<td>Crobat</td>
							<td>Ampharos</td>
							<td>Arcanine</td>
							<td>Golduck</td>
						</tr>
						<tr>
							<td><img src="serWT.png"></td>
							<td><img src="luWT.png"></td>
							<td><img src="croWT.png"></td>
							<td><img src="ampWT.png"></td>
							<td><img src="arcWT.png"></td>
							<td><img src="goldWT.png"></td>
						</tr>
					</table>

					<table border="1" >
						<th colspan="6">Pokémon Y</th>
						<tr>
							<td>Delphox</td>
							<td>Talonflame</td>
							<td>Butterfree</td>
							<td>Lapras</td>
							<td>Pikachu</td>
							<td>Gogoat</td>
						</tr>
						<tr>
							<td><img src="DelY.png"></td>
							<td><img src="talY.png"></td>
							<td><img src="butY.png"></td>
							<td><img src="lapY.png"></td>
							<td><img src="pikaY.png"></td>
							<td><img src="goY.png"></td>
						</tr>
					</table>
				</div> 
		</div>	