{% extends "base.html" %}
{% block content %}

<body>
	<div id="wrapper">
		<div class="info">
			<h2 class="Gen">My Teams</h2>
				<p>Ever since I recieved my first Pokémon game, Pokémon Gold, I have been a huge fan of the Pokémon franchise. I own six games from the
				main Pokémon series as well as spinoff games. Below, are the friends that I have trained and traveled with on my quest to become the
				very best.
				</p>
				<div class="team">
					<table border="1" style="background-color: #FDD017">
						<th colspan="6">Pokémon</th>
						<tr>
							<td>Typhlosion</td>
							<td>Nidoking</td>
							<td>Pidgeot</td>
							<td>Togetic</td>
							<td>Gengar</td>
							<td>Pikachu</td>
						</tr>
						<tr>
							<td><img src="/static/pictures/tyGold.png"></td>
							<td><img src="/static/pictures/NidoGold.png"></td>
							<td><img src="/static/pictures/PidGold.png"></td>
							<td><img src="/static/pictures/TogGold.png"></td>
							<td><img src="/static/pictures/genGold.png"></td>
							<td><img src="/static/pictures/PikaGold.png"></td>
						</tr>
					</table>
					
					<table border="1" style="background-color: #50C878;">
						<th colspan="6">Pokémon Emerald</th>
						<tr>
							<td>Sceptile</td>
							<td>Mightyena</td>
							<td>Swellow</td>
							<td>Azumarill</td>
							<td>Manectric</td>
							<td>Pikachu</td>
						</tr>
						<tr>
							<td><img src="/static/pictures/specEm.png"></td>
							<td><img src="/static/pictures/mightEm.png"></td>
							<td><img src="/static/pictures/swEm.png"></td>
							<td><img src="/static/pictures/azuEm.png"></td>
							<td><img src="/static/pictures/manEm.png"></td>
							<td><img src="/static/pictures/pikaEm.png"></td>
						</tr>
					</table>

					<table border="1" style="background-color: #E5E4E2;">
						<th colspan="6">Pokémon Platinum</th>
						<tr>
							<td>Infernape</td>
							<td>Luxray</td>
							<td>Rapidash</td>
							<td>Staraptor</td>
							<td>Gliscor</td>
							<td>Floatzel</td>
						</tr>
						<tr>
							<td><img src="/static/pictures/inferPt.png"></td>
							<td><img src="/static/pictures/luxPt.png"></td>
							<td><img src="/static/pictures/rapPt.png"></td>
							<td><img src="/static/pictures/starPt.png"></td>
							<td><img src="/static/pictures/gliPt.png"></td>
							<td><img src="/static/pictures/flPt.png"></td>
						</tr>
					</table>

					<table border="1" style="background-color: #FFDF00;">
						<th colspan="6">Pokémon HeartGold</th>
						<tr>
							<td>Typhlosion</td>
							<td>Nidoking</td>
							<td>Pidgeot</td>
							<td>Togetic</td>
							<td>Gengar</td>
							<td>Gyarados</td>
						</tr>
						<tr>
							<td><img src="/static/pictures/tyHG.png"></td>
							<td><img src="/static/pictures/nidoHG.png"></td>
							<td><img src="/static/pictures/pidHG.png"></td>
							<td><img src="/static/pictures/togHG.png"></td>
							<td><img src="/static/pictures/genHG.png"></td>
							<td><img src="/static/pictures/gyaHG.png"></td>
						</tr>
					</table>

					<table border="1">
						<th colspan="6">Pokémon White</th>
						<tr>
							<td>Samurott</td>
							<td>Unfezant</td>
							<td>Reuniclus</td>
							<td>Eelektross</td>
							<td>Krookodile</td>
							<td>Galvantula</td>
						</tr>
						<tr>
							<td><img src="/static/pictures/smW.png"></td>
							<td><img src="/static/pictures/unW.png"></td>
							<td><img src="/static/pictures/reW.png"></td>
							<td><img src="/static/pictures/eleW.png"></td>
							<td><img src="/static/pictures/krW.png"></td>
							<td><img src="/static/pictures/galW.png"></td>
						</tr>
					</table>

					<table border="1" >
						<th colspan="6">Pokémon White 2</th>
						<tr>
							<td>Serperior</td>
							<td>Lucario</td>
							<td>Crobat</td>
							<td>Ampharos</td>
							<td>Arcanine</td>
							<td>Golduck</td>
						</tr>
						<tr>
							<td><img src="/static/pictures/serWT.png"></td>
							<td><img src="/static/pictures/luWT.png"></td>
							<td><img src="/static/pictures/croWT.png"></td>
							<td><img src="/static/pictures/ampWT.png"></td>
							<td><img src="/static/pictures/arcWT.png"></td>
							<td><img src="/static/pictures/goldWT.png"></td>
						</tr>
					</table>

					<table border="1" >
						<th colspan="6">Pokémon Y</th>
						<tr>
							<td>Delphox</td>
							<td>Talonflame</td>
							<td>Butterfree</td>
							<td>Lapras</td>
							<td>Pikachu</td>
							<td>Gogoat</td>
						</tr>
						<tr>
							<td><img src="/static/pictures/DelY.png"></td>
							<td><img src="/static/pictures/talY.png"></td>
							<td><img src="/static/pictures/butY.png"></td>
							<td><img src="/static/pictures/lapY.png"></td>
							<td><img src="/static/pictures/pikaY.png"></td>
							<td><img src="/static/pictures/goY.png"></td>
						</tr>
					</table>
				</div>
		</div>	
	</div>

</body>

{% endblock %}
