<!DOCTYPE html>
<html>
<head>
<title>Tests in HTML</title>
<meta name="author" content="Michael Wang">
<link rel="stylesheet" type="/text/css" href="css_tests.css">
<style>
h1{
	color:blue;
}
</style>
</head>
<!--<body style="background-color:BurlyWood;">-->

<h1 class="center"><a id="College">College</a></h1>


<p>I started college at the <b>University of Michigan</b> in the summer of 2012.<br> My major is Computer Science Engineering in the College of Engineering.
	Here is a link to their website: <a href="http://www.umich.edu" target="_blank">www.umich.edu</a><br>
	You can also call it the <abbr title="University of Michigan">U of M</abbr> or UMich.</p>

<h2 class="green">Boarding</h2>
<p>The dorm I lived in is called <a href="http://www.housing.umich.edu/undergrad/bursley-hall" style="text-decoration:none;" target="_blank">Bursley Hall</a>.<br> 
Some people call it the Burlodge, but I never did.</p>
<hr>

<h2>Hello World</h2>
<p class="green">One of the first computer programs I learned was Hello World!.<br>Here it is in <i>C++</i>:
</p>


<pre>
<code>int main(){
	cout << "Hello World!" << endl;
	return 0;
}
</code>
</pre>


<a href="http://www.cplusplus.com" target="_blank">
<img src="cplusplus.png" style="align:right" width="100" height="100"></a>
<p>Click the image to learn more about C++</p>

<hr>
<table border="2">
<tr>
<th><b>Pok&eacute;mon</b></th>
<th><b>HP</b></th>
</tr>
<tr>
<td>Pikachu</td>
<td><i>250/250</i></td>
</tr>
</table>
<hr>
<address>
Michael Wang<br>
Email Me: <a href="mailto:milewa@umich.edu">milewa@umich.edu</a><br>
</address>
<img src="sky.jpg" height="150" width="100">
</body>
</html>